*{
    font-family: questial-regular, sans-serif;
    margin: 0;
    padding: 0;
}

.btn-light{
    border: none !important;
}

a.a{
    color: #000000;
    text-decoration: none;
}

header{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header img#logo_header{
    display: inline-block;
    width: 70px;
}

header span#logo_nome{
    display: inline-block;
    font-size: 1.3em;
    transform: translate(-10px, 3px);
}

header span#div1{
    width: 20%;
}

header span#div2 {
    padding: 10px;
    width: 40%;
}

header > span > span{
    margin-left: 5px;
}

header > span#div2 a:nth-child(1){
    display: inline-block;
    width: 30%;
    padding: 5px;
    border-radius: 3px;
    background-color: #8ff663;
    color: white;
}

header > span a:nth-child(2){
    display: inline-block;
    width: 30%;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #8ff663 !important;
    /* background-color: #8ff663; */
    color: #8ff663;
}

main > div#background{
    background-image: url(../background4.png);
    background-size: cover;
    background-position: center center;
}

/* main div.sec:nth-child(odd){
    background-color: gray;
} */

main div#sec-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50%;
    background-image: linear-gradient(#89d957, #c9e265);
    padding: 30px;
    height: 70vh;
}

main div#sec-1 > div#txt{
    width: 50%;
    transform: translateY(100%); 
}

main div#sec-1 > div#img{
    width: 70%;
}

main div#sec-1 > div#img img{
    width: 60%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
    display: block;
}

main div#sec-1 > div#img img#img1{
    transform: translate(10%, 30%);
}

main div#sec-1 > div#img img#img2{
    width: 80%;
    transform: translate(-50%, 10%);
}

main div#sec-1 > div#txt > h1{
    margin-bottom: 10px;
}

main div.sec a.btnReg{
    margin-top: 10px;
    display: block;
    background-color: #8875ff;
    color: #ffff;
    border-radius: 0px 10px 0px 10px;
    width: 150px;
    padding: 10px;
    
}

main div#sec-2{
    background-image: linear-gradient(#c9e265, transparent);
    padding: 50px;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main div#sec-2 > div{
    border-radius: 10px;
    padding: 10px;
    width: 40vh;
    border: 1px solid black;
}

main div#sec-3{
    height: 70vh;
    padding: 10px;
}

main div#sec-3 > div:nth-child(1){
    text-align: center;
}

main div#sec-3 > div:nth-child(2){
    color: #ffff;
    background-color: #8875ff;
    display: flex;
    align-items: center;
    outline: hidden;
    height: 80%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

main div#sec-3 > div:nth-child(2) > div {
    width: 80%;
}

main div#sec-3 > div:nth-child(2) > div > img:nth-child(1){
    display: inline-block;
   width: 35%;
   border-radius: 10px;
   transform: translate(10%, -10%);
}

main div#sec-3 > div:nth-child(2) > div > img:nth-child(2){
    display: inline-block;
    width: 40%;
    border-radius: 10px;
    transform: translateX(-70%);
}

main div#sec-3 > div:nth-child(2) > div:nth-child(2){
    width: 20%;
} 

main div#sec-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    padding: 10px;
}

main div#sec-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    padding: 10px;
}

main div#sec-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    padding: 10px;
}

main div#sec-7{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding: 10px;
}

footer{
    color: #ffff;
    background-color: #8875ff;
    padding: 10px;
}